section {
  position: relative;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

video {
  width: auto;
  height: 100%;
}

h4 {
  font-size: 1.563rem;
  color: #111;
}

h2 {
  font-size: 2.813rem;
  color: #111;
  line-height: 1.333em;
  font-weight: bold;
}

p {
  font-size: 1.063rem;
  color: #777;
}


.main_1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.center {
  text-align: center;
}

.video_wrap {
  position: relative;
  height: 100%;
}

.video_wrap h2 {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 118px;
  height: 70px;
  transform: translateX(-50%);
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.fix_bnr {
  width: 100%;
  max-width: 1020px;
  display: flex;
  position: fixed;
  left: 50%; bottom: 0;
  transform: translateX(-50%);
}

.fix_bnr>li {
  flex: 1;
}

.fix_bnr>li>a {
  display: block;
  text-align: center;
  color: #fff;
  line-height: 60px;
  font-size: 1.25rem;
  text-decoration: none;
}

.customer {
  background-color: #98384b;
}

.reserve {
  background-color: #8d7249;
}

.tel_num {
  background-color: #000000;
}

.tel_num>.tel {
  display: inline-block;
  width: 18px;
  height: 38px;
  background-image: url(../img/tel-wh.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;
}

@keyframes scroll {
  0% {
    bottom: 60px;
  }

  50% {
    bottom: 80px
  }

  100% {
    bottom: 60px
  }
}

.center {
  text-align: center;
}

.p30 {
  padding-bottom: 30px;
}

.p50 {
  padding-bottom: 50px;
}

#main_2 {
  padding: 170px 0;
}

.fix_bg {
  width: 100%;
  height: 330px;
  margin-top: 100px;
  background-image: url(../img/main1-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#main_3 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px ;
  padding-bottom: 100px ;
  position: relative;
}
#onBtn{
  width: 50px; height: 30px;
  position: absolute;
  top: 10px; left: 10%;
}
#main_3>.text {
  width: 40%;
}

#main_3>.imgs {
  width: 60%;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#main_3>.imgs.fade{
  opacity : 0;
}
#main_3>.imgs>div {
  width: calc(33.3333% - 20px);
  height: 730px;
  margin-left: 20px;
}

#main_3>.imgs>div:first-child {
  margin-top: 120px;
  background-image: url(../img/main2-img1.jpg);
}

#main_3>.imgs>div:nth-child(2) {
  background-image: url(../img/main2-img2.jpg);
}

#main_3>.imgs>div:nth-child(3) {
  margin-top: 200px;
  background-image: url(../img/main2-img3.jpg);
}

#main_4 {
  width: 100%;
  padding-top: 110px;
  margin-top: 110px;
  background-image: url(../img/main3-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.wh_txt {
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.wh_txt>h3 {
  font-size: 1.875rem;
  margin-bottom: 12px;
}

.wh_txt>p {
  font-size: 1.125rem;
  color: inherit;
  line-height: 1.667em;
}

.list_3 {
  display: flex;
  justify-content: space-between;
}

#main_5 {
  width: 100%;
  margin-top: 100px;
  padding: 100px 0;
  position: relative;
}

.main_5bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/main4-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.model_txt {
  text-align: center;
}

.model_txt>h4 {
  font-size: 1.5rem;
  color: #8d7249;
  margin-bottom: 30px;
}

.model_txt>h3 {
  color: #fff;
  font-size: 1.375rem;
  margin-bottom: 15px;
}

.model_txt>h2 {
  display: block;
  font-size: 2.25rem;
  color: #fff;
}

.model_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 90px;
}

.model_box {
  width: calc(25% - 15px);
  border: 1px solid #aaabab;
  padding: 45px 40px 45px;
  box-sizing: border-box;
  /* width: calc((100% - 60px) / 4); */
}

.scale_txt {
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
}

.scale_txt h5 {
  margin-bottom: 10px;
}

.scale_txt h5>strong {
  font-size: 3.125rem;

}

.scale_txt>p {
  color: #aaabab;
  font-size: 1.125rem;
}

.scale_btn {
  display: flex;
}

.scale_btn>a {
  display: block;
  width: 100%;
  padding: 65px 0 35px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 20px;
}

.floor {
  background-color: #8d7249;
  background-image: url(../img/floorplan-icon.png);
}

.vr {
  display: block;
  background-color: #59483f;
  background-image: url(../img/vr-icon.png);
}

footer {
  width: 100%;
}

.f_wrap {
  background-color: #2a2d2e;
  padding: 105px 0 160px;
  text-align: center;
  position: relative;
  box-sizing: border-box;

}

.f_logo {
  text-align: center;
}

.f_goura p {
  color: rgba(170, 171, 171, 0.5);
  font-size: 0.75rem;
  line-height: 1.667em;
  font-weight: 300;
}

.f_address p {
  color: rgba(170, 171, 171, 0.5);
  font-size: 0.875rem;
  line-height: 1.714em;
}


@media (max-width : 1500px) {
  html {
    font-size: 14px;
  }

  .w100 {
    padding: 0 40px;
  }

  #gnb>ul>li {
    padding: 0 15px;
  }
}

@media (max-width:1024px) {
  .w1200 {
    max-width: 900px;
  }

  .main_1 {
    height: 250px;
    top: 80px;
  }

  .video_wrap {
    text-align: center;
    height: 250px;
  }

  .video_wrap h2 {
    font-size: 1.5rem;
  }

  .scroll {
    display: none;
  }

  .fix_bg {
    margin-top: 40px;
    background-attachment: scroll;
    height: 200px;
  }

  .p30 {
    padding-bottom: 10px;
  }

  .p50 {
    padding-bottom: 30px;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  .center h4 {
    padding-bottom: 10px;
  }

  .center h2 {
    padding-bottom: 10px;
  }

  #main_3>.text {
    width: 100%;
  }

  #main_3>.imgs {
    width: 100%;
  }

  #main_3>.imgs>div {
    height: 500px;
    margin-top: 40px !important;
    margin-left: 0;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #main_3>.imgs>div:first-child {
    display: block;
    width: 100%;
  }

  #main_5 {
    margin-top: 50px;
    padding: 50px 0;
  }

  .model_wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .model_box {
    width: 100%;
    padding: 20px 30px;
    margin-top: 20px;
  }

  .scale_btn>a {
    padding: 50px 0 15px;
  }

  .scale_txt h5>strong {
    font-size: 2.6rem;
  }

  .main_5bg {
    background-size: cover;
  }

  .fix_bnr>li>a{
    line-height: 40px;
    font-size: 1.1rem;
  }
}